{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "never",
  "printWidth": 100,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed"
}